.anonymously {
    text-align: right;
}

label {
    padding: 1em 0 !important;    
    font-weight: bold;
    font-size: .9rem;
}

.age {    
    line-height: 30px;    
}

.gender {      
    padding: 1.2em 0;    
}

.askButton {
    padding-top: 2em;
}

