<div class="ui-g ui-g-nopad" id="header"> 
    <img class="logo" src="assets/img/logo.svg" id="top-logo" />  
    <h1 class="title">{{ title }}</h1>
</div>

<div class="ui-g ui-g-nopad">
  <div class="ui-g-1 ui-g-nopad" id="sidegutter">
    <div id="sidenav">
      <app-menu></app-menu>
    </div>
  </div>

  <div id="content-body" class="ui-g-11 ui-g-nopad">
    <router-outlet></router-outlet>
  </div>
</div>


<!-- <nav>
  <a routerLink="/categories">
    <i class="fa fa-list-alt"></i>
    Categories
  </a>
  <a routerLink="/questions">
    <i class="fa fa-question-circle"></i>
    Questions
  </a>
  <a routerLink="/add-question">
    <i class="fa fa-plus-circle"></i>
    Add a Question
  </a>
</nav>
<router-outlet></router-outlet> -->
<!-- <app-questions></app-questions> -->
