/* AppComponent's private CSS styles */

#sidenav {
  height: 100%;
  position: fixed;
  top: 60px;
  left: 0;
  padding-left: 0px;
  padding-top: 1em;
  background-color: #2D353C !important;
  width: 15%;
  z-index: 10;
}

#content-body {
  padding-top: 28px; 
  position: absolute;   
  left: 16%;  
}

#sidegutter {
  width: 100px;
}


  h2 {
    font-size: 2em;
    margin-top: 0;
    padding-top: 0;
  }
