#header {
    background-color: #F0F3F5;
    height: 60px;
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 99;
    width: 100%;  
    padding: 0 2em 0 0;    
  }
  
  .logo {    
    height: 2.5rem;      
  }
  
  #notifications {
    color: blue;
    float: right;
  }

  .hero-photo {
    width: 40px;
    border-radius: 50%;    
    float: right;  
    margin-left: .5em;  
  }

  .login {    
    text-align: right;          
  }

  nav a {
    padding: 5px 0;
    text-decoration: none;
    margin-top: 7px;
    display: inline-block;    
    border-radius: 4px;    
  }
  nav a:visited, a:link {
    color: #607D8B;
  }
  nav a:hover {
    color: #039be5;
    background-color: #CFD8DC;
  }
  nav a.active {
    color: #039be5;
  }